.chart {
  flex: 4;
  background-color: white;
  color: black;
  cursor: pointer;

  .title {
    font-size: 20px;
    font-weight: 500;
  }

  .chartGrid {
    stroke: rgb(128, 128, 128);
    cursor: pointer;
  }

  
  .recharts-tooltip-wrapper {
    background-color: #f59e0b;
    border: none;
    color: black;
    cursor: pointer;
  }
}
