@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.table-responsive {
    overflow-x: auto;
  }
  
  @media screen and (max-width: 640px) {
    .subject-body {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
  }